@import url('https://fonts.cdnfonts.com/css/luminova');
/* Colors */
:root {
    --color-white: #ffffff;
    --color-prime: #5FC6F5;
    --color-grey: #e2e2e2;
    --color-grey-dark: #5FC6F5;
}
.cardsContain{
    padding: 0% 0 ;
    margin-top: 50%;
}

.TitleEdu{
    font-family: 'Luminova', sans-serif;
    color: var(--color-prime);
    font-size: 40px;
    text-align: center;
    margin-bottom: 8%;
    padding: 2%;
    border-bottom: 1px solid;

}
.blog_card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 5px 4px 7px 0px #15587864;
    margin-bottom: 1.6%;
    background: var(--color-white);
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog_card a {
    color: inherit;
}

.blog_card a:hover {
    color: #32677F;
}
.blog_card .photo{
    background-image: url(https://cdn.glitch.global/33076b07-3ba2-42bf-bfe7-f74e5f3e1ce1/usbbog.jpeg?v=1700184335931);
}

.blog_card .photo1{
    background-image: url(https://cdn.glitch.global/33076b07-3ba2-42bf-bfe7-f74e5f3e1ce1/iebsschool.webp?v=1700184383225);
}
.blog_card:hover .photo, 
.blog_card:hover .photo1 {
    transform: scale(1.3) rotate(3deg);
}

.blog_card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog_card .photo,
.blog_card .photo1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.blog_card .details,
.blog_card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog_card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -107%;
    margin: auto;
    transition: left 0.2s;
    background: #1e4354a9;
    color: var(--color-white);
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.blog_card .details a {
    text-decoration: dotted underline;
}

.blog_card .details ul li {
    display: inline-block;
}

.blog_card .details .author:before,
.blog_card .details .date:before  {
    font-family: FontAwesome;
    margin-right: 10px;
    content: url(https://cdn.glitch.global/33076b07-3ba2-42bf-bfe7-f74e5f3e1ce1/calendario.png?v=1700185359596);
}

.blog_card .details .tags li {
    margin-right: 2px;
}

.blog_card .details .tags li:first-child {
    margin-left: -4px;
}

.blog_card .description {
    padding: 1rem;
    background: var(--color-white);
    position: relative;
    z-index: 1;
}

.blog_card .description h1,
.blog_card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog_card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog_card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-grey-dark);
    margin-top: 5px;
}

.blog_card .description .read_more {
    text-align: right;
}

.blog_card .description .read_more a {
    color: var(--color-prime);
    display: inline-block;
    position: relative;
}

.blog_card .description .read_more a:after {
    content:"";
    font-family: FontAwesome;
    display: inline-block;
    width:32px;
    height:32px;
    background: url(https://cdn.glitch.global/33076b07-3ba2-42bf-bfe7-f74e5f3e1ce1/diploma.png?v=1700184880723)center no-repeat;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}
.blog_card .description .read_more a:hover{
    font-weight: 900;
    color: #32677F;
}

.blog_card .description .read_more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog_card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog_card p:first-of-type {
    margin-top: 1.25rem;
}

.blog_card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: var(--color-prime);
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog_card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog_card {
        flex-direction: row;
        max-width: 1130px;
    }

    .blog_card .meta {
        flex-basis: 40%;
        height: auto;
    }

    .blog_card .description {
        flex-basis: 60%;
    }

    .blog_card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .blog_card.alt {
        flex-direction: row-reverse;
    }

    .blog_card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }

    .blog_card.alt .details {
        padding-left: 25px;
    }
}

/* Cards */
.otherContain{
    margin: 5% 0 ;
}
.subtitleEdu{
    font-family: 'Luminova', sans-serif;
    font-size: 35px;
    color: #5FC6F5;
    margin: 8% 0 4% 0;
    padding-bottom: 1.5%;
    text-align: center;
    border-bottom: 1px solid #ababab84;
}

.transition {
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}


.cards {
  margin-top: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  position: relative;
  border-radius: 1em;
  width: 230px;
  height: 180px;
  background-color: #FFF;
  -webkit-box-shadow: 5px 4px 7px 0px #15587864;
     -moz-box-shadow: 5px 4px 7px 0px #15587864;
          box-shadow: 5px 4px 7px 0px #15587864;
  overflow: hidden;
  margin: 10px 10px;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.card_header {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%;
}

.card_image {
  height: 55%;
}

.card_header.bg1 {
  background-color: #691193;
}

.card_header.bg2 {
  background-color: #fc5e9b;
}

.card_header.bg3 {
  background-color: #0ae98a;
}

.card_content {
  position: absolute;
  top: 45%;
  left: 0;
  width: 98%;
  height: 53%;
  padding: 0 3%;
}

.card_title {
  margin: -10px 0;
  font-family: 'Luminova', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  padding: 3%;
  font-weight: 900;
}

.card_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #AAA;
  font-family: 'Luminova', sans-serif;
  font-size: 0.85em;
}

.card_more {
  position: absolute;
  right: 14%;
  bottom: 12%;
  text-decoration: none;
  font-family: 'Luminova', sans-serif;
  font-size: 0.9em;
  color: #1EAAC2;
  font-weight: bold;
}

.card_more:hover {
  color: #32677F;
}

.card:hover {
  -webkit-box-shadow: 5px 4px 7px 0px #072c3c64;
     -moz-box-shadow: 5px 4px 7px 0px #072c3c64;
          box-shadow: 5px 4px 7px 0px #072c3c64;
  -webkit-transform: translate(0, -2%);
     -moz-transform: translate(0, -2%);
       -o-transform: translate(0, -2%);
          transform: translate(0, -2%);
}


@media only screen and (max-width : 640px) {
    .cardsContain{
        margin-top: 185%;
    }
}
