@import url('https://fonts.cdnfonts.com/css/luminova');
.bioContainer{
    height: 100vh;
}
.column_1 {
    float: left;
    width: 48%;
    padding: 14% 0 0 6%;
    align-self: center;
    margin: 0 auto;
  }

  .column_2 {
    float: left;
    width: 41%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    
    content: "";
    display: flex;
    clear: both;
  }

  p{
    color: #101010;
    font-family: 'Luminova', sans-serif;
    font-weight: 700;
    font-size: 17.4px;
  }
  p u{
    text-underline-offset: 3px;
  }

  .bioImg{
    width: 75%;
    /* clip-path: polygon(15% 6%, 100% 6%, 85% 99%, 0% 100%); */
    border-radius: 50%;
    margin: 5% 0 0 20%;
    transform: rotate(5deg);
    transform-style: preserve-3d;
        transform: translate3d(0,0,-1);
  }

  @media only screen and (max-width : 640px) {
    .row{
        display: grid;
        position: absolute;
    z-index: -1;
    }
    .row > * {
        order: 0;
      }
      .column_1 {
        order: 2;
        width: 73%;
        padding: 2% 0 0 0;
       }
       
       .column_2 {
        width: 70%;
        order: 1;
       }
       .bioImg{
        width: 100%;
        margin-top: 40%;
      }
  }